<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file>simrunner.log</file>
      <append>true</append>
      <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
      <encoder>
              <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
      </encoder>
    </appender>
  
  
      <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
          <encoder>
              <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %line - %msg%n</pattern>
          </encoder>
      </appender>
  
      <logger name="org.mongodb.driver" level="WARN"/>

      <!-- Set to DEBUG to eyeball generated documents -->
      <logger name="org.schambon.loadsimrunner.SimRunner" level="INFO"/>
      <logger name="org.schambon.loadsimrunner.TemplateManager" level="INFO"/>
      <logger name="org.schambon.loadsimrunner.report.Reporter" level="INFO"/>
      <logger name="org.schambon.loadsimrunner.runner.InsertRunner" level="INFO"/>
      <logger name="org.schambon.loadsimrunner.runner.FindRunner" level="INFO"/>
      <logger name="org.schambon.loadsimrunner.runner.TimeSeriesRunner" level="INFO"/>
      <logger name="org.schambon.loadsimrunner.template.RememberUtil" level="INFO"/>
      <root level="INFO">
          <!-- Change to File to log to a file -->
          <appender-ref ref="STDOUT"/>
          <appender-ref ref="FILE"/>
      </root>
  
  </configuration>
  
  